Repository aroary/lorem_ipsum, changes with the labels that .github/labeler.yml gives for each.
All labels: Broswer, Desktop, Language

seperate custom seting options
  browser/browser.js
  package.json
  utilities/lorem_ipsum.js
Labels: Broswer

Update README.md
  README.md
Labels: none

change language
  commands/language.js
  package.json
  utilities/codes.json
Labels: Desktop

format
  commands/contents.js
Labels: Desktop

ft
  index.js
Labels: none

debug setttings
  .vscode/launch.json
Labels: none

.3
  package.json
Labels: none

link to wiki
  README.md
Labels: none

v1.3.3
  CHANGELOG.md
  SECURITY.md
Labels: none

remove extra whitespace
  commands/bytes.js
  commands/list.js
  commands/page.js
  commands/paragraph.js
  commands/sentence.js
  commands/word.js
Labels: Desktop

fix filename log
  index.js
Labels: none

get lang data
  utilities/lorem_ipsum.js
Labels: none

start support for image generator
  commands/image.js
  package-lock.json
  package.json
Labels: Desktop

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

`npm run rebuild` electron-rebuild.cmd
  package-lock.json
  package.json
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

switch to newer `@types/vscode` module
  package-lock.json
  package.json
Labels: none

move vscode dep to devDep
  package-lock.json
  package.json
Labels: none

codeQL badge
  README.md
Labels: none

extention -> extension (fixed spelling mistake)
  browser/browser.js
  index.js
Labels: Broswer

Waiting until canvas is buildable for the latest electron version to resume progress 😔
  commands/image.js
  package-lock.json
  package.json
Labels: Desktop

vscode engine synced with `@types/vscode`
  package.json
Labels: none

ignore `commands/image.js` for future builds
  .vscodeignore
  package.json
Labels: none

ignore vscode configs
  .gitignore
  .vscodeignore
Labels: none

convert from canvas to SVG data URL
  commands/image.js
  utilities/encodeSVG.js
Labels: Desktop

info msg
  commands/image.js
Labels: Desktop

remove duplicate line
  languages/rus.json
Labels: none

experimaentla image support
  commands/image.js
  package-lock.json
  package.json
Labels: Desktop

changelog
  CHANGELOG.md
Labels: none

rename to index.js
  browser/index.js
  package.json
Labels: Broswer

upgrade engine
  package.json
Labels: none

.github/labeler.yml:

Broswer: browser/*

Desktop: commands/*

Language: language/*
